@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col">
            <a href="~/DbSup" class="form-control">Link to dbSupplier</a>
        </div>
        <div class="col">
            <a href="~/DbQuo" class="form-control">Link to dbQuotation Page</a><br />
        </div>
    </div>
    
    
    <button id="DropTable">Drop Table</button>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#DropTable').click(function () {
            $.ajax({
                url: '@Url.Action("DropTable","Home")',
                type: 'POST',
                success: function () {
                    window.alert('Done'); 
                }
            });
        });
    </script>
}